.toolbar {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background: white;
  border: 1px solid #d9d9d9;
  align-items: center;
  justify-content: center;
  /* border-radius: 6px; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
}

.toolbar button {
  border-radius: 4px;
}
